* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #773344;
    text-align: center;
}

main h1 {
    color: white;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin-top: 30px;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.47);
    font-size: 6vmin;
    color: #ffffff;
    background-color: #FAA275;
}

#reset-btn {
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    background: #FAA275;
    color: white;
    box-shadow: 0 0 1rem rgba(255, 254, 254, 0.174);
    margin-bottom: 20px;
}

#new-btn {
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 1rem;
    background: #FAA275;
    color: white;
    box-shadow: 0 0 1rem rgba(255, 254, 254, 0.174);
}

#msg {
    color: #ffffff;
    font-size: 5vmin;
    margin: 10px 0px;

}

.msg-container {
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hide {
    display: none;
}